node_modules/
dist/
.astro/
npm-debug.log*

# Local-only images (do not commit)
Images/


# local backups
_backup_before_workfix_*/

# Codex temp workdirs
workfix/
buildcheck/
backup*/
workrepo/


# local backups
_backup_before_workfix_*/

