---
layout: page.njk
title: Gallery
---

<div class="gallery-grid">
  {% for img in collections.gallery %}
    <img src="{{ ('/Media/' + img.file) | url }}" alt="{{ img.file }}">
  {% endfor %}
</div>