---
layout: page.njk
title: Media
---

{% for item in collections.all %}
  {% if item.data.tags and item.data.tags.includes('media') %}
  <article>
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    <p>{{ item.data.excerpt }}</p>
  </article>
  {% endif %}
{% endfor %}
